.red-header1 {
    color: red;
    font-size: 30px;
}

.blue-header2 {
    color: blue;
    font-size: 28px;
}

.green-header2 {
    color: green;
    font-size: 26px;
}

.orange-p1 {
    color: orange;
    font-size: 20px;
}

.blue-p2 {
    color: blue;
    font-size: 24px
}
